html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  
}


.logo {
    margin-left: 200px;
}

.main-menu {
    margin: auto;
}

.main-menu__container {
    align-items: center;
    display: flex;
}

li {
    padding: 15px 10px;
}

li a {
    color: #8c8c8c;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.first-aside {
    background-color: #30c3a6;
    text-align: center;
    color: white;
}

.first-aside h1 {
    padding-top: 3%;
    padding-bottom: 1%;
    font-weight: 700;
    font-size: 30px;
}

.first-aside h2 {
    font-weight: lighter;
    margin: 0;
}

.btn {
    margin: 3% 0;
    padding: 13px 15px;
    border: 0;
    background-color: #262673;
    color: white;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
}

.second-aside {
    text-align: center;
    margin: 5% 250px;
}

.second-aside h1 {
    border-bottom: 4px solid #dee5e8;
    line-height: 0;
    padding: 0;
}

.second-aside h1 span {
    background: #fff;
    padding: 3%;
    font-weight: lighter;
}


.third-aside {
    overflow: hidden;
    background-color: #30c3a6;
    text-align: center;
}

.third-section {
    margin: 0 250px;
    color: white;
}

.third-section > h1 {
    border-bottom: 4px solid #dee5e8;
    line-height: 0;
    padding-top: 7%;
}

.third-section h1 span {
    padding: 25px;
    font-size: 25px;
    font-weight: lighter;
    background-color: #30c3a6;
}

.third-section .images {
    margin-top: 10%;
    align: center;
}

.third-section div.img {
    margin: 0 85px;
    float: left;
    width: 180px;
}

.third-section .img img {
    width: 100%;
    height: auto;
}

.third-section div .desc,
h2 {
    padding: 15px;
    text-align: center;
}

.forth-aside {
    overflow: hidden;
    background-color: #E84F40;
    text-align: center;
    padding: 5% 250px;
}

.forth-aside > h1 {
    border-bottom: 4px solid #dee5e8;
    line-height: 0;
    padding: 0;
    margin-bottom: 7%;
    color: white;
}

.forth-aside h1 span {
    background: #E84F40;
    padding: 25px;
    font-weight: lighter;
}

.forth-aside .inside-forth-aside {
    padding: 0 50px;
    text-align: center;
    background: #FDFDF7;
}

.inside-forth-aside > h1 {
    color: white;
    font-weight: lighter;
}

input,
select {
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}







header {
    display: flex;
    padding: 10px;
    margin-top: 3%;
    border-top: 2px solid #dee5e8;
    border-bottom: 2px solid #dee5e8;
    margin-bottom: 5%;
    width: 100%;
    box-sizing: border-box;
}

.content_aside {
    width: 80%;
    margin: 0 auto;
}

.content {
    width: 100%;
}

aside.second-aside {
    padding: 10% 0;
    width: 80%;
    margin: 0 auto;
}

.second-aside h1 {
    border-bottom: 4px solid #dee5e8;
    width: 100%;
    margin: 0 auto;
}

.second-aside p {
    margin: 5% 0;
}

.third-aside {
    overflow: hidden;
    background-color: #30c3a6;
    text-align: center;
    width: 100%;
}

.third-section {
    width: 80%;
    color: white;
    margin: 0 auto;
}

.third-aside {
    overflow: hidden;
    background-color: #30c3a6;
    text-align: center;
    width: 100%;
    padding: 10% 0;
}

.third-section .images {
    margin: 10% 0;
    align: center;
    width: 100%;
}

.forth-aside {
    background-color: #E84F40;
    padding: 10% 0;
}

.forth-aside > h1 {
    border-bottom: 4px solid #dee5e8;
    line-height: 0;
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.forth-aside .inside-forth-aside {
    padding: 0 10%;
    width: 80%;
    text-align: center;
    background: #FDFDF7;
    margin-top: 10%;
}

.inside-forth-aside > h1 {
    color: black;
    font-weight: lighter;
    padding: 5% 0;
}

.forth-aside .inside-forth-aside {
    width: 80%;
    text-align: center;
    background: #FDFDF7;
    margin: 0 auto;
    margin-top: 10%;
}

.third-section div.img {
    margin: 0;
    float: left;
    padding: 2%;
    width: 33.33%;
    box-sizing: border-box;
}

.forth-aside .inside-forth-aside {
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10%;
    padding: 3%;
}

form {
    width: 100%;
    display: flex;
}

.left_side_form {
    width: 48%;
    float: left;
    margin: 0 1%;
}

.form-group {
    width: 48%;
    margin: 0 1%;
    float: left;
}

.form-group {
    width: 100%; 
    text-align: left;
    margin: 2% 0;
}

.form-group.text {
    width: 48%;
    margin: 0 1%;
}

.form-group input {
    width: 80%;
    height: 24px;
}

textarea {
    resize: vertical;
}


#message {
    height: 170px;
    width: 90%;
    padding: 6px 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.send {
    margin-top: 20px;
    width: 96%;
    padding: 6px 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    height: 40px;
    background-color: #30c3a6;
    color: white;
    box-sizing: border-box;
    margin: 0 auto;
    float: left;
    margin-top: 3%;
}

.form-group label {
    padding: 3px 0;
    color: black;
    margin-left: 1%;
}

.container_header {
	width: 80%;
	margin: 0 auto;
}

.logo {
     margin-left: 0px; 
    float: left;
    width: 40%;
}

.main-menu__container {
    display: flex;
    padding-top: 3%;
    float: right;
}

.main-menu {
    width: 60%;
    float: left;
}

footer {
    overflow: hidden;
    padding: 15px;
    background-color: #233446;
}
footer .mobile-menu{
    text-align: center;
    display: none;
}
footer .mobile-menu .mobile-menu__container li{
    border-bottom: 2px solid #8c8c8c;

}

footer p {
    margin-top: 15px;
    float: right;
    padding-right: 13%;
    color: white;
}

footer img {
    float: right;
}

@media(max-width: 841px) {
    header {
        text-align: center;
    }
    .logo {
        width:100%;
        float: none;
    }
    .logo img {
    }
    .logo h1 {
        margin: 0px;
    }
    .main-menu{
        display:none;
    }
    .content {
        text-align: center;
    }
   .third-section div.img {
        width:100%;
    }
    footer {
        text-align: center;
    }
    footer .mobile-menu{
        display: initial;
        
    }
}